<div class="footer-follow">
    <span class="footer-text"> Follow Us </span>
    <ul id="socmed">
        <a href="https://www.facebook.com/"><li id="facebook"></li></a>
        <a href="https://www.instagram.com/"><li id="instagram"></li></a>
        <a href="https://www.twitter.com/"><li id="twitter"></li></a>
        <a href="https://www.threads.net/"><li id="threads"></li></a>
        <a href="https://www.youtube.com/"><li id="youtube"></li></a>
    </ul>
</div>
<div class="footer-divider"> &nbsp; </div>
<div class="footer-contact">
    <div id="connect">
        <span class="footer-text"> Connect with Us </span>
    </div>
    <div class="contact-container" id="footer-container1">
        <span class="footer-bold"> taft10@email.com </span>
        <span class="footer-labels"> Email Address </span>
    </div><br>
    <div class="contact-container">
        <span class="footer-bold"> +63 912 345 6789 </span>
        <span class="footer-labels"> Contact Number </span>
    </div>
</div>