<div class="blue-div-recover">&nbsp;</div>
<div class="recover">
    <div>
        <a href="/home"><button class="button" id="back-button"> Back to Home Page </button></a>
    </div>
    <div class="recover-container">
        <div class="recover-message">
            <span id="message-1"> FORGOT PASSWORD? </span><br>
            <span id="message-2"> Enter the email you used to sign up below.</span>
        </div>
        <form method="post" action="/forgot-pw" class="recover-form">
            <div class="recover-email-field">
                <label for="email"> Email Address </label><br>
                <input type="email" id="email" name="email" placeholder="Enter your email address" required><br>
            </div>
            <div class="submit-button">
                <input type="submit" class="button" id="recover-button" value="Recover Account">
            </div>
        </form>
    </div>
</div>