<div class="blue-div-recover">&nbsp;</div>
<div class="recover">
    <div>
        <a href="/home"><button class="button" id="back-button"> Back to Home Page </button></a>
    </div>
    <div class="recover-success-container">
        <div class="recover-success-message">
            <span id="message-1"> Check your email! </span><br>
            <span id="message-2"> The email contains instructions on how to reset your password. </span>
        </div>
    </div>
</div>