<div class="home-page" id="home">
    <div id="business-review-container">
        <div id="vertical-line"></div>
        <div class="review">
            <div id="quote-symbol">"</div>
            The Best <br> Business <br>Food Review <br> in the City.
            <div class="stars">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="reviewer">
                <span id="reviewer-name"> Kathleen Cruz </span>
                <span id="reviewer-info"> Student at De La Salle University </span>
            </div>
            <a href="/all-establishments"><button class=button id="view-est"> View Establishments </button></a>
        </div>
    </div>
    <div class="home-image">
        <img class="ate-rica" src={{ateRica}}>
        <img class="chef-bab" src={{chefBab}}>
    </div>
</div>
<div class="home-page-divider"></div>
<div class="about" id="about">
    <div class="about-container">
        <span class="about-text"> About Us </span><br>
        <div class="about-info"> Taft 10 is more than just a platform for food reviews; it's a community where food lovers come together to share their experiences, 
            recommendations, and tips. Whether you're a local resident looking for your new favorite hangout spot or a visitor eager to indulge in the diverse flavors of the area, 
            Taft 10 has you covered. </div> 
        <div class="about-bottom-divider">&nbsp;</div>
    </div>
</div>
<div class="yellow-div">&nbsp;</div>
<div class="explore">
    <div class="explore-header">
        <div id="explore-heading-container"> Explore </div>
        <div id="explore-taft-10-container"> Taft 10 </div>
    </div>
    <div class="image-links">
        <a href="/taft-picks" class="link">
            <div class="explore-taft-picks-container">
                <div id="taft-picks"> Taft Picks </div>
            </div>
        </a>
        <a href="/all-establishments" class="link">
            <div class="explore-all-est-container">
                <div id="all-est"> All Establishments </div>
            </div>
        </a>
    </div>
</div>