
    <div class="bar-container container-template">
        <div class="bar-title">
            <span class="yellow">"</span>
            <span class="white">TAFT 10</span>
            <span class="yellow">" PICKS!</span>
        </div>

        <div class="view-all-container">
            <a href="/all-establishments" class="view-all-title">All Establishments</a>
        </div>

    </div> 
    
    <div class="est-container"> </div>

    <div class="add-container"> </div>

    <div class="view-container"> </div>